.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  gap: 1em;
}

.item {
  padding: 2em;
  background-color: rgb(42, 36, 36);
  color: antiquewhite;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
}
