.danny {
  background-color: brown;
  height: 200px;
  width: 200px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  gap: 4px;
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
}
