body {
  display: grid;
  grid-auto-columns: 300px;
  grid-auto-rows: 300px;
  grid-auto-flow: column;
  gap: 1em;
}

.box {
  padding: 2em;
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-size: 20pt;
}
