body {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  gap: 1em;
  justify-items: center;
  align-items: center;
}

.box {
  height: 200px;
  width: 200px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-size: 20pt;
}
