body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1e1d1d;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  width: 300px;
  height: 200px;
}

/* image */
.image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* text on top */
.text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
