.stack {
  display: grid;
  width: 250px;
  height: 250px;
}

.box {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.red {
  background: red;
}

.blue {
  background: blue;
  opacity: 0.7;
}

.yellow {
  background: yellow;
  opacity: 0.4;
}
