.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin-top: 5px;
}

.item {
  padding: 2em;
  background-color: blue;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 8px;
  font-size: 2rem;
}
