body {
  border: 4px solid black;
  width: 500px;
  height: 500px;
}

.box-1 {
  background-color: blue;
  height: 200px;
  width: 200px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.box-2 {
  background-color: red;
  height: 200px;
  width: 200px;
  grid-column: 2 / 4;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
