.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.item {
  padding: 2em;
  background-color: rgb(42, 36, 36);
  color: antiquewhite;
  text-align: center;
  border-radius: 8px;
  font-size: 2rem;
}
