.grid-container {
  display: grid;
  grid-auto-columns: 300px;
  grid-auto-rows: 300px;
  grid-auto-flow: column;

  gap: 1em;
  justify-items: center;
  align-items: center;
}

.item {
  height: 100px;
  width: 100px;
  padding: 2em;
  background-color: rgb(42, 36, 36);
  color: antiquewhite;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
}
