.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 1em;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product p {
  font-weight: 600;
}

.product img {
  height: auto;
  border-radius: 10px;
}

header {
  display: flex;
}
#logo-1 {
  margin-right: auto;
}

.bar {
  margin-right: 1em;
}
