.danny {
  background-color: brown;
  height: 200px;
  width: 800px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  body {
    background-color: cadetblue;
    color: rgb(0, 0, 0);
  }
  .danny {
    background-color: aqua;
  }
}
