.products-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  gap: 1em;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product p {
  font-weight: 600;
}

.product img {
  height: auto;
  border-radius: 10px;
}
