.box {
  display: grid;
  width: 300px;
  height: 200px;
}

/* both items go in the SAME grid area */
.bg,
.text {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.bg {
  background: purple;
}

.text {
  color: white;
  font-size: 24px;
  display: grid;
  place-items: center;
}
