body {
  display: flex;
  gap: 10px;
}

.box {
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: rgb(82, 82, 255);
  font-size: 40pt;
}
