body {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

#box-1 {
  margin-right: auto;
  margin-left: 20px;
}
.box {
  font-size: 15pt;
  margin-right: 20px;
  margin-top: 25px;
}

@media (max-width: 600px) {
  body {
    flex-wrap: wrap;
    background-color: red;
  }
}
