.card {
  display: grid;
  width: 400px;
  height: 170px;
}

.layer {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.bg {
  background: orange;
}

.text {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  display: grid;
  place-items: center;
}
