body {
  border: 4px solid black;
  min-height: 600px;
  margin-right: 400px;
}

.box-1 {
  display: grid;
  background-color: blue;
  height: 200px;
  width: 200px;
  grid-column: 1 / 3;
}
.box-2 {
  display: grid;
  background-color: rgb(217, 0, 255);
  height: 200px;
  width: 200px;
}
