body {
  min-height: 500px;
  border: 8px solid black;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
.box {
  height: 200px;
  width: 200px;
  background-color: rgb(82, 82, 255);
  font-size: 40pt;
}
