body {
  display: flex;
  gap: 2px;
  border: 4px solid black;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;

  background-color: greenyellow;

  width: 200px;
  height: 200px;
  font-size: 40pt;
}
