.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}

.item {
  padding: 2em;
  background-color: blue;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 8px;
  font-size: 2rem;
}
