body {
  display: grid;
  border: 4px solid black;
  min-height: 600px;
  margin-right: 400px;
}

.box-1 {
  background-color: blue;
  height: 200px;
  width: 200px;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.box-2 {
}
