body {
  display: flex;
  gap: 2px;
  border: 4px solid black;
  min-height: 500px;
}
#box-1 {
  margin-right: auto;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
  width: 200px;
  height: 200px;
  font-size: 40pt;
}
