header {
  min-height: 100px;
  border: 3px solid rgb(255, 236, 139);
  display: flex;
  background-color: rgb(255, 224, 184);
}

#box-1 {
  margin: auto;
  margin-left: 10px;
}

.box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 70px;
}
.main-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
