body {
  min-height: 700px;
  border: 8px solid black;
  display: flex;
  gap: 10px;
}

.box {
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: rgb(82, 82, 255);
  font-size: 40pt;
}
