body {
  min-height: 600px;
  border: 6px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2 px;
  flex-direction: column;
  flex-direction: row-reverse;
}
.box {
  height: 200px;
  width: 200px;
  background-color: rgb(82, 82, 255);
  font-size: 40pt;
}
